#box{
    /* box-sizing: border-box;   */
    width: 300px;
    height: 300px;
    /* padding: 30px;   */
    border: 10px solid palevioletred;
    overflow:hidden;
}
#solid{
    margin: 0px;
    width: 300px;
    height: 300px;
}
#cat{
    background-color: orange;
    color: black;
    padding: 20px;
    text-align: center;

}
#parrot{
    background-color: orange;
    color: black;
    padding: 20px;
    text-align: center;
  
}